# old files
_old
icons/nerd.png
icons/KubaRdzak-cover-yellow_v1.jpg
icons/KubaRdzak-cover-yellow_v2.jpg
icons/KubaRdzak-cover-yellow_v3.jpg
icons/KubaRdzak-cover-yellow_v5.jpg

# misc
.DS_Store
.vscode
TODO

# fonts
fonts/Mali
fonts/Arvo
fonts/JetBrainsMono
fonts/Mali
learn-more.html

# sections re-write
index-sections.html
styles/styles-sections.css

# notion 
autorating/notion

# automate
autorating/automate