# ------------- old files ------------ #
_old

# --------------- misc --------------- #
.DS_Store
.vscode
TODO

# ------------ autoRating ------------ #
# Notion 
autorating/notion
# automate
autorating/automate
MentorProfilePage-211113.html

# -------------- images -------------- #
images/* 
!images/KubaRdzak-cover-yellow_v4.jpg
!images/KubaRdzak-cover-yellow_v5-compressed2.jpg

# --------- sections re-write -------- #
index-sections.html
styles/styles-sections.css