# old files
_old
icons/nerd.png
icons/KubaRdzak-cover-yellow_v1.jpg

# misc
.DS_Store
.vscode
TODO

# fonts
fonts/Mali
fonts/Arvo
fonts/JetBrainsMono
fonts/Mali
learn-more.html

# sections re-write
index-sections.html
styles/styles-sections.css

# automate
autorating/automate