/* fonts */

@font-face {
    /* JetBrains Mono → https://www.jetbrains.com/lp/mono/ */
    font-family: "JetBrainsMono";
    src: url("../fonts/JetBrainsMono/JetBrainsMono-Regular.woff2");
} 

@font-face {
    /* Sweeney → https://pixlr.com/stock/details/100400577-sweeney-font-family/ */
    font-family: "Sweeneey";
    src: url("../fonts/Sweeneey/sweeneey.woff");
}

/* palette */

:root {
    --accent: #ffdf3b;
    --font: "JetBrainsMono", monospace;
    --font-header_logo: "Sweeneey", "JetBrainsMono", monospace;
    --light-background: #f3f3f3;
    --light-background-font: #565656;
    --dark-background: #252525;
    --dark-background-font: #f3f3f3;
    --dark-background-highlight: #252525;
    --on: #00e673;
    --off: #ff3b3b;
    --scrollbar-track: #ebebeb;
}

header {
    margin-bottom: 2em;
}

@media only screen and (min-width: 574px) {
    header {
        margin-bottom: 3.5em;
    }
}

header nav a {
    text-decoration: none;
    display: inline-block;
}

@media only screen and (max-width: 574px) {
    header nav a:first-child {
        display: none;
    }

    header nav a {
        font-size: 0.7rem !important;
    }

    ul {
        margin-left: -8% !important;
    }
}

h1 > a {
    font-family: var(--font-header_logo);
    text-decoration: none;
}

#logo {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    width: 1.25em;
    padding-bottom: 0.2em; /* *NOTE 0.2em for JetBrainsMono, 0.5em for Sweeneey */
}

/* @media only screen and (min-width: 574px) { */
/* @media only screen and (min-width: 770px) {
    #logo {
        padding-bottom: 0.5em; /* *NOTE fix for computers */
    /* } */
/* } */ 

ul {
    list-style: none;
    margin-left: -4%;
    margin-top: -0%;
}

header nav a + a {
    margin-left: 1.5em;
}

@media only screen and (max-width: 574px) {
    header nav a + a {
        margin-left: 1em;
    }
}

header #active {
    border-bottom: 5px solid var(--accent);
}

body {
    background: var(--light-background);
    font-family: var(--font);
    color: var(--light-background-font);
    line-height: 1.5;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 0.9rem;
}

#wrapper {
    padding: 10px 25px 40px;
    max-width: 777px;
    text-align: justify;
}

#responsibilities {
    text-align: left;
}

/* i {
    color: var(--accent);
} */

#on-site, #online, .italic {
    font-style: italic;
}

@media only screen and (min-width: 574px) {
    #wrapper {
        padding: 40px 10%;
    }
}

@media only screen and (max-width: 574px) {
    #wrapper {
        text-align: left;
    }
}

#headline {
    text-align: left;
    font-size: 1.1rem;
}

footer {
    position: absolute;
    width: 100%;
}

/* Larger than Desktop HD */
@media only screen and (min-width: 1600px) {
    footer {
        /* bottom: 0; */
    }
}

/* iPad Pro */
@media only screen and (min-height: 1300px) {
    footer {
        /* bottom: 0; */
    }
}

a {
    color: currentColor;
}

::selection {
    background-color: var(--accent);
}

.socialmedia a {
    text-decoration: none;
    border-bottom: 5px solid var(--accent);
}

ul a {
    text-decoration: none;
    border-bottom: 2px solid var(--accent);
}

#experience a {
    border: none;
    text-decoration: underline;
}

/* #name, 
.highlight { 
    background-color: var(--accent);
} */

.highlightDark {
    background-color: var(--light-background-font);
    color: var(--light-background);
    border-radius: 25px;
    font-size: 0.7rem;
}

.smaller {
    font-size: 0.7rem;
}

.on {
    color: var(--on);
}

.off {
    color: var(--off);
}

/* shape divider */

.custom-shape-divider-bottom-1591393761 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1591393761 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 125px;
}

.custom-shape-divider-bottom-1591393761 .shape-fill {
    fill: var(--accent);
}

/* custom scrollbar */

/* The emerging W3C standard that is currently Firefox-only */
* {
    scrollbar-width: 10px;
    scrollbar-color: var(--accent) var(--scrollbar-track);
}
  
/* Works on WebKit (Chrome/Edge/Safari) */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border-radius: 7px;
}

/* external links */

/* a[target="_blank"]:after { */
a.external:after {
    content: url(../icons/external-link.png);
    margin: 0 0 0 5px;
}

/* breakpoints */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */ 
@media only screen and (min-width: 1200px) {}

/* landscape */
@media only screen and (orientation: landscape) {}